.breadcrumb {
  background-color: transparent;
  img {
    margin-left: 5px;
    margin-right: 5px;
  }
  .active {
    color: $black;
  }
  span {
    font-size: 0.9em;
    font-weight: bold;
    color: $black;
    a {
      text-decoration: none;
      color: $black;
    }
  }
}