#footer {
  padding-right: 0px;
  padding-left: 0px;
}
#footer .col-md-3 {
  margin-top: 0px;
}
#footer .col-md-3.first {
  margin-left: 0;
  padding-left: 0;
}
#footer .col-xs-4.col-md-4 {
  text-align: center;
}
#footer ul.list-inline {
  color: #74CAFF;
}
#footer a {
  color: white;
  list-style: none;
}