@font-face {
	font-family: 'proximaNovaBold';
	src: url('../fonts/proximanova-bold-webfont.eot');
	src: local('☺'),  url('../fonts/proximanova-bold-webfont.woff') format('woff'),  url('../fonts/proximanova-bold-webfont.ttf') format('truetype');
}
@font-face {
	font-family: 'proximaNovaBlack';
	src: url('../fonts/ProximaNova-Black.otf');
	src: local('☺'),  url('../fonts/ProximaNova-Black.woff') format('woff'),  url('../fonts/ProximaNova-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'proximaNovaLight';
	src: url('../fonts/proximanova-light.eot');
	src: local('☺'),  url('../fonts/proximanova-light.woff') format('woff'),  url('../fonts/proximanova-light.ttf') format('truetype');
}
@font-face {
	font-family: 'proximaNovaReg';
	src: local('☺'),  url('../fonts/proximanova-regular-webfont.woff') format('woff'),
}
h1, h2, h3, h4, h5 {
	font-family: "proximaNovaLight", Arial, Helvetica, sans-serif;
	font-weight: normal;
}

html, body {
    height: 100% !important;
	margin: 0 !important;
}

* {
	border-radius: 0 !important;
}

.text-primary {
	color:#1582c5;	
	
}

.text-warning {
	color: #f89416;
}

.text-success {
	color: #41b33a;	
}

.panel .panel-info {
	background-color:#EEF4F7;	
}

.info {
	background-color:#EEF4F7;	
}

.row {
	margin-bottom: 20px;
}
.row .row {
	margin-top: 10px;
	margin-bottom: 0;
}
[class*="col-"] {
	padding-top: 15px;
	padding-bottom: 15px;
}
hr {
	margin-top: 40px;
	margin-bottom: 40px;
}


.background-image {
	background-image: url("../img/about001.jpg");
}



#top {
	background-color: #1582c5;
	color: white;
}
#top .language {
	color: rgb(116, 202, 255);
}
#top .login {
	color: white;
}
#top .col-md-8.pull-right.text-right {
	padding-right: 0;
}
#top ul.list-inline {
	color: #74CAFF;
}
#top .list-inline>li {
	padding-left: 6px;
	font-size: 13px;
	color: white;
}
#top.container-fluid {
	padding: 0;
	margin: 0;
}
#top [class*="col-"] {
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 0;
	padding-right: 0;
}
#top span.fa {
	margin-left: 38px;
	margin-right: 3px;
	font-size: 13px;
}

#header {
	background-color: white;
}

#header li {
	font-size: 17px;
	font-family: "proximaNovaReg", Arial, Helvetica, sans-serif;
}


li.last {
	padding-right: 0;
	margin-right: 0;
}
.navbar-default {
	background-color: white;
	border-color: white;
	margin-bottom: 0;
}

.navbar-brand img {
	vertical-align: top;
}
.navbar-nav .fa {
	color: #1582c5;
}
li.dropdown.last {
	margin-right: -28px;
}
ul.nav.navbar-nav {
	margin-top: 25px;
}
#banner #text {
	color: white;
}
#banner h1 {
	font-size: 35px;
	line-height: 37px;
	margin-top: 78px;
}
#banner h3 {
	font-size: 23px;
	line-height: 31px;
}
#content {
	background-color: white;
	padding-top: 25px;
}
#links {
	color: white;
}
#links a, #footer a, #expat-banner a {
	color: white;
	list-style: none;
}
#links h2 {
	color: white;
}
#links li {
	padding-top: 5px;
	padding-bottom: 5px;
}

#core-cover {
	background: url(../img/core-cover-bkgnd.png) no-repeat right top;	
	background-size: cover;
	color: white;
}
 #core-cover li {
	border-bottom:1px solid white; 
 }


 #core-cover li a {
	color: white; 
 }

#smiling-couple {
	background: url(../img/you-are-covered.png) no-repeat right top;
}

#mother-and-child {
	background: url(../img/we-are-different.png) no-repeat right top;
	background-size: cover;
}

#mother-and-child #banner-text {
  margin-left: 18px;
  margin-top: -16px;
}

#smiling-woman {
	background: url(../img/what-is-expatriate.png) no-repeat right top;
	background-size: cover;
}

#smiling-woman h3 {
	font-size: 29px !important;	
}

#airport {
	background: url(../img/airport.png) no-repeat right top;
	height: 297px;
	background-size: cover;
}

#smartphone-image {
	background: url(../img/smartphone-image.png) no-repeat right top;
	background-size: cover;
}

#left-col {
	margin-bottom: 20px;	
}

#right-col {
	color: #0E6EA8;
}

#right-col sup {
  color: #0E6EA8;
  margin-left: -5px;
  font-size: 45% !important;
}

#right-col li {
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom: 1px solid rgb(215, 224, 229);
}

#right-col li span.pull-right {
	color: orange;
}
#quote-box {
	margin-top: 12px;
	background-color: rgb(21, 130, 197);
	color: white;
	margin-bottom: 10px;
}
#quote-box h3 {
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 20px;
}
#quote-box p {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

button.btn-lg {
  font-size: 23px;
  margin-top: 10px;
  margin-bottom: 19px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 14px;
}

#content p {
	font-size: 14px;
	line-height: 23px;
	margin-bottom: 29px;
}
#banner {
	background: url(../img/full-banner.png) no-repeat center top;
	background-size: cover;
}

#banner-home {
	background: url(../img/full-banner-b.png) no-repeat right bottom;
	color:white;
	background-size:cover;
	height:354px;
}

#inter-health {
	background: url(../img/inter-health-banner.png) no-repeat right bottom;
	color:white;
	background-size:cover;
	height:360px;
}

#expat-banner {
	background: url(../img/expat-banner.png) no-repeat right bottom;
	color:white;
	background-size:cover;
	height:460px;
}


#expat-banner  li {
	padding-top: 2px;
	padding-bottom: 2px;
	
	border-bottom: 1px solid white;	
}


#banner-text {
	margin-left: 28px;
	margin-top: 0px;
}

#banner-text p {
  font-size: 15px;
  line-height: 28px;
  padding-top: 0px;
  padding-left: 0px;
}

#shallow-banner {
	background: url(../img/shallow-image.png) no-repeat center top;
}

#shallow-banner #text {
	color: white;
}



#shallow-banner p {
  color: orange;
  margin-bottom: 0;
  line-height: 24px;
  font-size: 19px;
  margin-top: 14px;
}
.two-lines h1 {
  margin-top: 3px !important;
}
#shallow-banner h1 {
	font-size: 35px;
	line-height: 37px;
	margin-top: 28px;
}
#shallow-banner h3 {
	font-size: 23px;
	line-height: 31px;
}

#narrow-left-col {
	background: #1582c5;
	color: white;	
}

#narrow-left-col a {
	 color: white;	
}

#narrow-left-col li {
	 border-bottom: 1px solid white;	
}



#content span.glyphicon.glyphicon-ok.fa-fw {
	color: green;
	margin-right: 3px;
}

#content .col-xs-12.col-md-6 {
}


#content .btn-success.btn-block {
	width: auto;
}


#quote-bar {
	background-color: #0E6EA8;
}

#quote-bar h1 {
	color: white;
}

#quote-bar h3 {
	color: white;
	margin-left: 0;
	padding-left: 0;
	font-size: 28px;
	padding-top: 17px;
	padding-bottom: 32px;
}

#quote-bar .col-xs-8.col-md-8 {
	margin-left: 0;
	padding-left: 0;
}
#quote-bar .container {
	padding-left: 0;
}
#footer .col-md-3 {
	margin-top: 16px;
}
#footer .col-xs-4.col-md-4 {
	text-align: center;
}
div#footer.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}
#links .last li {
	border: none;
}


span.fa.fa-twitter {
	margin-bottom: 70px;
}
#bottom-bar li {
	font-size: 11px;
	padding-right: 6px;
	color: #74CAFF;
}
#links .container {
	padding-left: 0;
}
#footer .col-md-3.first {
	margin-left: 0;
	padding-left: 0;
}
#bottom-bar .col-md-4.pull-right.text-right {
	font-size: 12px;
	color: white;
}
#bottom-bar .container {
	padding-left: 0;
}
#bottom-bar .col-md-8.pull-left {
	padding-left: 0;
}
#footer ul.list-inline {
	color: #74CAFF;
}
div#footer.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}
#links .last li {
	border: none;
}

span.fa.fa-twitter {
	margin-bottom: 70px;
}
#bottom-bar li {
	font-size: 12px;
	padding-right: 6px;
	color: #74CAFF;
}
#icon-box .col-md-2.text-center {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  height: 100%;
}

#links .container {
	/* margin-left: 0; */
	padding-left: 0;
}
#footer .col-md-3.first {
	margin-left: 0;
	padding-left: 0;
}
#bottom-bar .col-md-4.pull-right.text-right {
	font-size: 12px;
	color: white;
	padding-top: 24px;
	padding-bottom: 15px;
}
#bottom-bar .container {
	padding-left: 0;
}
#bottom-bar .col-md-8.pull-left {
	padding-left: 0;
	padding-top: 24px;
	padding-bottom: 15px;
}
#footer ul.list-inline {
	color: #74CAFF;
}
#top ul.list-inline {
	color: #74CAFF;
}
#right-col .col-md-12 {
	padding-left: 30px;
	padding-right: 30px;
}


#right-col p {
	padding-left: 15px;
	padding-right: 15px;
}
#right-col button.btn.btn-primary {
	margin-left: 15px;
	width: 52%;
}
#right-col span.fa {
	font-size: 19px;
	padding-left: 16px;
}
span.glyphicon.glyphicon-send {
	font-size: 19px;
	padding-left: 13px;
}

ul.fa-ul {
  margin-left: 24px;
  margin-top: -15px;
  margin-bottom: 0px;
}


.fa-ul>li {
    margin-top: 10px;
    margin-bottom: 16px;
}

.panel-primary {
	border: none;	
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #1582c5;
}
ul.nav.navbar-nav {
  margin-top: -19px;
  margin-bottom: 29px;
}
div#bs-example-navbar-collapse-1 {
  margin-top: 0px;
}
textarea.form-control {
	
	height: 328px;
	
}


@media (min-width: 768px) and (max-width: 1199px) {
#header, .navbar-default {
	padding-left: 0;
	padding-right: 0;
}

#header .container {
  padding-left: 0;
  padding-right: 0;
}
#header .navbar-default {
	padding-left: 0;
	padding-right: 0;
}
#header .container-fluid {
  padding-left: 0;
  padding-right: 0;
}



.navbar-brand img {
	vertical-align: top;
	width: 86%;
}
#banner {
	background: url(../img/full-banner.png) no-repeat -381px top;
}
#content .col-xs-12 {
	width: 100%;
}
a.navbar-brand {
	height: 79px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0;
}
#banner #text.col-xs-12 {
	width: 100%;
	margin-bottom: 19px;
	padding-left: 0;
	padding-right: 0;
}
#banner h1 {
	font-size: 36px;
	line-height: 28px;
	margin-top: 84px;
}
#banner h3 {
	font-size: 24px;
	line-height: 31px;
}
#content h2 {
	font-size: 30px;
	line-height: 39px;
}
#content p {
	font-size: 14px;
	line-height: 26px;
	margin-bottom: 31px;
	margin-right: 15px;
}
#content .col-xs-12.col-md-6 {
	font-size: 17px;
	line-height: 30px;
	padding-top: 0;
	padding-bottom: 0;
	padding-left:0;
}
#quote-bar h3 {
	font-size: 31px;
	width: 85%;
}
button.btn.btn-warning {
	margin-top: 38px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #ddd;
}
.navbar-default .navbar-toggle {
	border-color: #ddd;
}
.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #e7e7e7;
}

.navbar-header {
	float: left;
	width: 100%;
}
#smiling-couple {
	min-height: 285px;
	background: url(../img/you-are-covered.png) no-repeat -38px top;
	margin-right: 9px;
}
#banner-text {
	margin-left: 33px;
	margin-top: -1px;
	padding-top: 0;
	padding-bottom: 0;
}
#banner-text h3 {
  font-size: 21px;
  line-height: 38px;
  margin-bottom: 16px;
  margin-top: 56px;
}
#banner-text p {
	font-size: 14px;
	line-height: 26px;
	margin-bottom: 31px;
	margin-right: 15px;
	width: 317px;
}
.last .col-lg-8.col-md-6.col-xs-6 {
    padding: 0;
}

#quote-bar button.btn.btn-warning {
  margin-top: 43px;
}

button.btn.btn-primary.btn-block {
    width: 90%;
}

}

@media (min-width: 320px) and (max-width:767px) {
#header, .navbar-default {
	border: none;
}
a.navbar-brand {
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 0;
}
.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 4px;
	border-radius: 1px;
}
.navbar-toggle {
	margin-top: 12px;
	border: none;
	margin-right: 0px;
}
.navbar-brand img {
	vertical-align: top;
	width: 46%;
}
.navbar-default .container-fluid {
	padding-right: 0;
	padding-left: 0;
}
#banner #text {
	color: white;
	text-align: center;
}
#banner h1 {
	font-size: 26px;
	line-height: 27px;
	margin-top: 39px;
}
#banner h3 {
	font-size: 16px;
	line-height: 22px;
}



#content h2 {
  font-size: 30px;
  line-height: 39px;
  margin-top: 0px;
}

#content h3 {
  font-size: 28px;
  line-height: 35px;
  margin-bottom: 10px;
}


#content p {
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 15px;
}

#content .col-xs-12.col-md-6 {
  line-height: 30px;
  padding: 0;
}

#smiling-couple {
	background-image:none;
  	background-color: #EEF4F7;
	min-height: auto;
}

#banner-text {
  margin-left: 2px;
  margin-top: -25px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#banner-text h3 {
  margin-top: 44px;
  font-size: 22px;
  line-height: 25px;
  margin-bottom: 10px;
}

#banner-text p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 28px;
}

}


@media (max-width: 319px) {
	
#header, .navbar-default {
	border: none;
}
a.navbar-brand {
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 0;
}
.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 4px;
	border-radius: 1px;
}
.navbar-toggle {
	margin-top: 12px;
	border: none;
	margin-right: 0px;
}
.navbar-brand img {
	vertical-align: top;
	height: 75%;
}
.navbar-default .container-fluid {
	padding-right: 0;
	padding-left: 0;
}
#banner #text {
	color: white;
	text-align: center;
}
#banner h1 {
	font-size: 26px;
	line-height: 27px;
	margin-top: 39px;
}
#banner h3 {
	font-size: 16px;
	line-height: 22px;
}



#content h2 {
  font-size: 30px;
  line-height: 39px;
  margin-top: 0px;
}

#content h3 {
  font-size: 28px;
  line-height: 35px;
  margin-bottom: 10px;
}


#content p {
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 15px;
}

#content .col-xs-12.col-md-6 {
  line-height: 30px;
  padding: 0;
}

#smiling-couple {
	background-image:none;
  	background-color: #EEF4F7;
	min-height: auto;
}

#banner-text {
  margin-left: 2px;
  margin-top: -25px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#banner-text h3 {
  margin-top: 44px;
  font-size: 22px;
  line-height: 25px;
  margin-bottom: 10px;
}

#banner-text p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 28px;
}

#links .container {
  padding-left: 0;
  padding-right: 0;
}


#quote-box h3 {
  font-size: 26px;
  margin-top: 7px;
  margin-bottom: 20px;
}

	
#quote-box p {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-left: 0px;
  padding-right: 0px;
}
#quote-box button.btn {
  font-size: 21px;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6px;
  padding-bottom: 10px;
}


	
	
	}