

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'proximaNovaLight', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
}

* {
    border-radius: 0 !important;
}

.fill {
    min-height: 100%;
    height: 100%;
}    

.btn {
    font-family: 'proximaNovaLight', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
}
.btn-warning {
    background-color: #f89516;
    border: none;
    color: #fff;
}
.btn-primary {
    background-color: #0e6ea8;
    border: none;
    color: #fff;
}

.bg-info {
    background-color:#eef4f7;
}

.info {
  background-color: #EEF4F7;
}
.panel-info {
	background-color:#EEF4F7;	
}

.text-primary {
	color:#1582c5;	
}

.text-warning {
	color: #f89416;
}
.text-success {
	color: #41b33a;	
}
#top-nav .navbar {
    min-height: 0  !important;
}

/* top-nav starts */
#top-nav #top {
    margin-bottom:0;
	font-size: 12px;
}
#top-nav #top .nav {
    margin-top: -10px;
    margin-bottom: -10px;
    font-family:'proximaNovaReg', Arial, Helvetica, sans-serif;
}
#top-nav #top a {
    color: #fff;
    /* background: #004986; */
}
#top-nav #top a:hover,
#top-nav #top a:focus {
    color: #337ab7;
    background: #fff;
}
#top-nav #top .dropdown-menu {
    margin-top: -9px;
    background: #fff;
    border: none;
}
#top-nav #top .dropdown-menu li a {
    color: #337ab7 !important;
    background: #fff;
}
#top-nav #top .dropdown-menu li a:hover,
#top-nav #top .dropdown-menu li a:focus {
    color: #fff !important;
    background: #337ab7;
}

#top-nav #navbar1 {
    margin-bottom:0;
    background-color: #fff;
    font-size: 16px;
}
#top-nav #navbar1 .navbar-brand {
    height: auto;
    padding-bottom:0;
}
#top-nav #navbar1 .navbar-brand:hover,
#top-nav #navbar1 .navbar-brand:focus {
    background: white;
}
#top-nav #navbar1 img {
    padding-bottom:0 !important;
}

#top-nav #navbar1 .nav {
    margin-bottom:0;
    margin-top: 15px;
    font-family: 'proximaNovaReg', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
}
#top-nav #navbar1 li {
    margin-top:0;
    margin-bottom:0;
}
#top-nav #navbar1 a * {
    color: #337ab7;
    background: #fff;
}

#top-nav #navbar1 li:hover,
#top-nav #navbar1 li:focus,
#top-nav #navbar1 li:hover a,
#top-nav #navbar1 li:focus a,
#top-nav #navbar1 li:hover a .caret,
#top-nav #navbar1 li:focus a .caret,
#top-nav #navbar1 li:hover a .fa-search,
#top-nav #navbar1 li:focus a .fa-search {
    background-color: #1582c5 !important;
    color: #fff !important;
}

#top-nav #navbar1 .navbar-nav > li > a {
    padding-bottom: 30px;
}

#top-nav #navbar1 .navbar-nav > .open > a,
#top-nav #navbar1 .navbar-nav > .open > a:hover,
#top-nav #navbar1 .navbar-nav > .open > a:focus {
    background-color: #1582c5 !important;
    color: #fff !important;
    padding-top: 15px;
}

#top-nav #navbar1 .dropdown-menu {
    background-color: #1582c5 !important;
    color: #fff !important;
    left: auto;
    right: 0;
    width: 425%;
    border: none;
    padding: 15px 20px;
    position: absolute;
}
#top-nav #navbar1 .dropdown-menu li {
    display: inline;
    float: left;
    width: 50%;
    border-right: 1px solid #0c659c;
}
#top-nav #navbar1 .dropdown-menu li:nth-child(even) {
    border: none;
}

#top-nav #navbar1 .dropdown-menu li:hover *,
#top-nav #navbar1 .dropdown-menu li:focus  *{
    background: #fff !important;
    color:#337ab7 !important;
}

#top-nav #navbar1 .dropdown-menu a * {
    background-color: #1582c5 !important;
    color: #fff !important;
}

#top-nav #navbar1 .dropdown-menu > li > a {
    color: #fff !important;
}

#top-nav #navbar1 .dropdown-menu li a {
    width: 100%;
    white-space: normal;
    font-size: 14px;
    padding: 15px 15px 15px 48px;
}
#top-nav #navbar1 .dropdown-menu li a:hover *,
#top-nav #navbar1 .dropdown-menu li a:focus * {
    color: #1582c5;
    background-color:#fff;
}

#top-nav #navbar1 .dropdown-menu li a .fa-angle-right {
    display: inline;
    margin: 0 30px 0 0;
    padding: 4px 0 15px 0;
    vertical-align: top;
    font-size: 14px;
}

#top-nav #navbar1 .dropdown a .caret {
    color: #1582c5;
    margin-left: 8px;
    padding-bottom: 0;
}
#top-nav #navbar1 .dropdown.open a .caret,
#top-nav #navbar1 .dropdown.open a .caret:hover,
#top-nav #navbar1 .dropdown.open a .caret:focus {
    color: #fff;
    background-color: #1582c5;
}

#top-nav #navbar1 .dropdown .fa-search {
    color: #1582c5;
    margin-left: -3px;
}
#top-nav #navbar1 .dropdown.open .fa-search,
#top-nav #navbar1 .dropdown.open .fa-search:hover,
#top-nav #navbar1 .dropdown.open .fa-search:focus {
    color: #fff;
    background-color: #1582c5;
}

#top-nav #navbar1 li:first-child .dropdown-menu {
    left: -360px !important;
    width: 1170px;
}
#top-nav #navbar1 li:nth-child(2) .dropdown-menu {
    left: -525px !important;
    width: 1170px;
}
#top-nav #navbar1 li:nth-child(3) .dropdown-menu {
    left: -746px !important;
    width: 1170px;
}
#top-nav #navbar1 li:last-child .dropdown-menu {
    right: 0 !important;
    width: 1170px;
}

#top-nav #navbar1 .dropdown.open .dropdown-menu li#search1,
#top-nav #navbar1 .dropdown.open .dropdown-menu li#search1:hover *,
#top-nav #navbar1 .dropdown.open .dropdown-menu li#search1:focus  *{
    background-color: #0c6da8  !important;
    color: #fff !important;
}

#top-nav #search1 {
    width: 100% !important;
    height: 100% !important;
    border: none !important;
}
#top-nav #search1 form.navbar-form.navbar-left {
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
#top-nav #search1 .form-group {
    width: 100%;
    height: 100%;
    padding: 0;
}

#top-nav > #search1 > .form-control {
    background-color: #0c6da8 !important;
    color: #fff !important;
}
#top-nav #search1 .form-control {
    width: 100%;
    height: 44px;
    background-color: #0c6da8 !important;
    color: #fff !important;
    border: none;
}
#top-nav #search1 .form-control:hover,
#top-nav #search1 .form-control:focus {
    background-color: #0c6da8 !important;
    color: #fff !important;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color:    #fff !important;
}
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color:    #fff !important;
    opacity:  1;
}
::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color:    #fff !important;
    opacity:  1;
}
:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color:    #fff !important;
}

#banner.jumbotron {
  background: url(../images/full-banner.png) no-repeat center top;  
  color: #fff;
    margin-top: -1px;
  margin-bottom: 45px;
  padding-bottom: 0;
  background-size: cover;
}
.jumbotron h2 {
    font-size: 34px;
    font-weight: 400;
    font-style: normal;
    font-family: 'proximaNovaReg', Arial, Helvetica, sans-serif;
}
.jumbotron p {
    font-family: 'proximaNovaLight', Arial, Helvetica, sans-serif;
    font-size: 23px;
}
.jumbotron .col-12.col-sm-6.col-lg-4.text-center.visible-lg {
    padding-right: 0;
}
.jumbotron #quotebox {
    margin-top: -14px;
    background-color: #1582c5;
}


#airport {
	background: url(../images/airport.png) no-repeat right top;
	height: 297px;
	background-size: cover;
}


#banner #text {
	color: #fff;
}
#banner h1 {
	font-size: 35px;
	line-height: 37px;
	margin-top: 78px;
}
#banner h3 {
	font-size: 23px;
	line-height: 31px;
}

#banner-home {
  background: url(../images/full-banner-b.png) no-repeat right bottom;
  color: #fff;
  background-size: cover;
  height: 354px;
}


#banner-text {
	margin-left: 28px;
	margin-top: 0px;
}
#banner-text p {
  font-size: 15px;
  line-height: 28px;
  padding-top: 0px;
  padding-left: 0px;
}


#core-cover {
	background: url(../images/core-cover-bkgnd.png) no-repeat right top;	
	background-size: cover;
	color: #fff;
}
#core-cover li {
	border-bottom:1px solid white; 
 }
#core-cover li a {
	color: #fff; 
 }


#expat-banner {
	background: url(../images/expat-banner.png) no-repeat right bottom;
	color:white;
	background-size:cover;
	height:460px;
}
#expat-banner  li {
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom: 1px solid #fff;}
#expat-banner a {
	color: #fff;
	list-style: none;
}

#inter-health {
	background: url(../images/inter-health-banner.png) no-repeat right bottom;
	color:white;
	background-size:cover;
	height:360px;
}

#smiling-people {
    background: #eff4f8 url(../images/you-are-covered.png) no-repeat -119px 15px;
    background-size: cover;
}
#smiling-people h3 {
    color: #f79f3c;
    font-family: 'proximaNovaReg', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
}
#smiling-people p {
    margin-top: 23px;
    width: 47%;
}

#smiling-woman {
  background: url(../images/what-is-expatriate.png) no-repeat right top;
  background-size: cover;
  padding-bottom: 10px;
  padding-top: 10px;
}
#smiling-woman h2.text-warning {
    line-height: inherit;
}
#smiling-woman h3 {
	font-size: 29px !important;	
}

#mother-and-child {
  background: #EEF4F7 url(../images/we-are-different.png) no-repeat 1px bottom;
  padding-bottom: 20px;
  background-size: 728px;
  padding-top: 0;
  padding-left: 34px;
}
#mother-and-child #banner-text {
  margin-left: 18px;
  margin-top: -16px;
}


#smartphone-image {
  background: #EEF4F7 url(../images/smartphone-image.png) no-repeat -72px -3px;
  background-size: 812px;
  padding-bottom: 39px;
  padding-top: 0px;
  margin-bottom: 27px;
}
#smartphone-image #banner-text {
  margin-left: -2px;
  margin-top: 23px;
}

#shallow-banner {
    background: url(../images/shallow-image.png) no-repeat center top;
    padding-left: 44px;
}
#shallow-banner h1 {
	font-size: 35px;
	line-height: 37px;
	margin-top: 28px;
}

#shallow-banner h2 {
    margin-top:0;
    color: #fff;
}
#shallow-banner h3 {
	font-size: 23px;
	line-height: 31px;
}
#shallow-banner h4 {
    margin-top: -7px;
    margin-bottom: 1px;
}
#shallow-banner p {
    color: orange;
    margin-bottom: 0;
    line-height: 24px;
    font-size: 19px;
    margin-top: 14px;
}
#shallow-banner .btn {
    margin-top: -3px;
}

#icon-box .col-lg-12.bg-info {
  padding: 30px;
  padding-top: 48px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#quotebar {
    padding-top: 30px;
    padding-bottom: 30px;
}
#quotebar * {
    margin: 0;
    vertical-align: middle;
}


#navbar2 .navbar-brand {
    height: auto;
    margin-left: 1%;
}
#navbar2 .navbar-toggle {
    margin-top: 15px;
    border: none;
    margin-right: -15px;
    display: block;
}
#navbar2 span.icon-bar {
    background-color: #337ab7;
    display: block;
    width: 22px;
    height: 4px;
    border-radius: 1px;
}

#sidebar * {
    color: #fff;
}
#sidebar.navbar-collapse {
    max-height: 100%;
    width: 270px;
}

#quotebox {
    padding-top: 9px;
    padding-bottom: 4px;
}
#quotebox h2 {
    font-size: 32px;
    line-height: 55px;
    font-family: 'proximaNovaLight', Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #fff;
}
#quotebox p {
    font-size: 20px;
    font-family: 'proximaNovaLight', Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
    color: #fff;
}
#quotebox .btn {
    width: 90%;
    font-size: 23px;
    font-family:'proximaNovaLight', Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 15px;
}

.narrow-left-col {
	background: #1582c5;
	color: #fff;	
	padding: 30px;
	margin-bottom: 30px;
	margin-top: 0px;
}
.narrow-left-col a.list-group-item {
	 color: #fff;	
	 background-color: transparent;
	 border-left: none;
	 border-right: none;
	 border-color: #116ba9;
}
.narrow-left-col li {
	 border-bottom: 1px solid #fff;}
.narrow-left-col h2 {
  font-family: 'proximaNovaLight', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 200;
}

.left-col {
    margin-top: 0px;
    margin-bottom: 20px;
}
.left-col .bg-info {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 42px;
    margin-bottom: 30px;
}

.left-col .bg-info h1 {
    font-size: 33px;
}

.left-col .bg-info p {
    font-size: 14px;
    margin-bottom: 17px;
}
.left-col .bg-info img {
    margin-top: 8px;
}

.left-col .bg-info hr {
    border-top: 1px solid #d4e1e7 !important;
    margin-top: 108px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.left-col .bg-info .col-md-6 {
    padding: 0;
    padding-right: 12px;
}
.left-col .col-md-12.info {
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.left-col p {
    font-size: 14px;
    font-family: 'proximaNovaReg', Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 23px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.left-col p + p {
    margin-top: -10px;
}
.left-col h2 {
    font-size: 30px;
    font-family: 'proximaNovaLight', Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 65px;
    margin-bottom: -16px;
}

.left-col h3 {
    font-size: 21px;
    line-height: 30px;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 33px;
}
.left-col .panel-primary {
  border: none;
}
.left-col > .panel-primary > .panel-heading > h3 {
    margin-bottom: 0;
}

.left-col h4 {
    margin-top: 10px;
    margin-bottom: 19px;
    font-weight: 600;
}
.left-col .fa-ul {
    margin-left: 11px;
}
.left-col .fa-check {
    color: green;
    line-height: 18px;
}
.left-col li {
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 25px;
}
.left-col .btn {
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.left-col > .panel > .panel-body > .col-md-12 {
    margin-left: -15px;
}
.left-col form.col-md-12.bg-info {
    padding-top: 15px;
    padding-bottom: 15px;
}

.left-col .bg-info form .col-md-6 p {
    margin-top: 8px;
}
.left-col .row .info .text-right img {
    margin-top: 17px;
    margin-left: -35px;
}

#content {
    background: #fff;
}

#content #accordion .panel-heading {
    background: #eef4f7;   
}
#content #accordion .panel-heading.open,
#content #accordion .panel-heading:focus,
#content #accordion .panel-heading:hover {
  color: #fff !important;
  background-color: #337ab7 !important;
}
#content #accordion .panel-heading.open .fa.pull-right {
  color: #fff !important;
}
#content #accordion .fa.pull-right {
  color: #f5ab4a !important;
}
#content #accordion .panel-heading.open,
#content #accordion .panel-heading:hover *,
#content #accordion .panel-heading:focus * {
  color: #fff !important;
}

#content #accordion .collapse.in {
    border: none !important;
}
#content #accordion .panel.panel-info {
    border: none !important;
    background-color: #fff;
    box-shadow: none;
}
#content #accordion .panel-body {
    border: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -14px !important;
}

#content #accordion h4.panel-title {
    margin-top: 10px;
    margin-bottom: 19px;
    font-weight: 600;
}

#content #quotebox {
    padding: 30px;
    margin-bottom: 35px;
}
#content .right-col .bg-info {
    padding: 30px;
}

.right-col h3.text-warning {
  color: #f5ab4a !important;
  padding-left: 18px;
  padding-top: 0px;
  margin-top: 25px;
}
.right-col h3 + .list-group-item {
    border-bottom: 1px solid #d4e1e7;
}

.right-col {
    padding-top: 0px;
    padding-bottom: 30px;
}
.right-col .list-group {
    margin-top: 20px;
}
.right-col .list-group-item {
    color: #337ab7 !important;
    border: none;
    border-top: 1px solid #d4e1e7;
    background: none;
}
.right-col .list-group-item:last-child {
    border-bottom: 1px solid #d4e1e7;
}
.right-col h3 {
    margin-bottom: 18px;
    margin-top: 45px;
}
.right-col .fa-angle-right {
    color: #f5ab4a !important;
}
.right-col .fa-lg {
    font-size: 1em;
}

.right-col sup.fa.fa-reply.small {
    margin-left: -3%;
    color: #337ab7;
    font-size: 11px;
}
.right-col .btn {
    margin-top: 10px;
    margin-bottom: 20px;
}

#icon-box .col-md-2.text-center {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  height: 100%;
}

#footer {
    padding-right:0;
    padding-left:0;
}
#footer .col-md-3 {
    margin-top:0;
}
#footer .col-md-3.first {
    margin-left: 0;
    padding-left: 0;
}
#footer ul.list-inline {
    color: #fff;
    font-size: 12px;
    font-family: Arial, helvetica, sans-serif;
}
#footer a {
    color: #fff;
    list-style: none;
}

#quotebar h3 {
    font-weight: normal;
    line-height: 40px;
}
#quote-bar {
    background-color: #0E6EA8;
    margin-top: 46px;
}
#quote-bar h1 {
    color: #fff;
}
#quote-bar h3 {
    color: #fff;
    font-size: 28px;
    padding-top: 17px;
    padding-bottom: 32px;
}
#quote-bar .btn {
    margin-top: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 21px;
    width: 75%;
}

#links {
    color: #fff;
    background: #1582C5;
    padding-bottom: 30px;
    padding-top: 30px;
}
#links .container {
    padding-left: 0;
}
#links .col-md-4 {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: auto;
}
#links .col-md-4 a {
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
}
#links .col-md-9.col-sm-6 {
    padding-left: auto;
}
#links a {
    color: #fff;
    list-style: none;
}
#links li {
    padding-top: 5px;
    padding-bottom: 5px;
}
#links .last li {
    border: none;
}
#links .fa-angle-right {
    display: none;
}
#links .fa-twitter {
    margin-bottom: 70px;
}

#links h4[id*="-collapsible-list-group-"] a {
    color: #fff;
    margin-top: 25px;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: hand;
    text-decoration: none;
    font-family: 'proximaNovaLight', 'Arial', 'Helvetica', sans-serif !important;
}
#links h4[id*="-collapsible-list-group-"] a:hover {
    text-decoration: underline;
    font-family: 'proximaNovaLight', Arial, Helvetica, sans-serif !important;
    font-style: normal;
}

#links div[id*="collapseListGroupHeading"] {
    color: #fff !important;
    background-color: #1582C5 !important;
    border: none;
    padding-left: 0;
}
#links #collapseListGroupHeading4 {
    display: block;
}
#links .panel-heading+.panel-collapse>.list-group {
    border: none;
}
#links .list-group {
    border: none;
}
#links .list-group-item {
    border-top-color: #116ba9;
    background-color: #1582C5;
    padding-left: 0;
    padding-right: 0;
    font-family: 'proximaNovaReg', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
}
#links .panel-group {
    border: none;
    margin-bottom:0;
}
#links .panel-default {
    border: none;
    box-shadow: none;
}
#links .panel-default>.panel-heading {
    color: #fff;
    background-color: #1582C5;
    padding-left: 0;
    font-size: 18px;
    border-bottom: none;
    font-weight:300;
    font-style: normal;
    font-family: 'proximaNovaReg', Arial, Helvetica, sans-serif,
}
#links .panel-default>.panel-heading+.panel-collapse>.panel-body {
    background-color: #1582C5;
    border-bottom: 1px solid #fff;
    border-top: none;
    padding-left: 0;
    margin-bottom: 20px;

}
#links #collapseListGroup1 {
    border: none;
}

#bottom-bar {
    background-color: #0E6EA8;
}
#bottom-bar a {
    color:#fff !important;
}
#bottom-bar .container {
    padding-left: 0;
}
#bottom-bar .copyRight {
    font-size: 12px;
    font-family: Arial,Helvetica, sans-serif;
    color: #fff;
    display: inline-block;
}
#bottom-bar .copyRight li {
    display: inline-block;
    padding-right: 6px;
}
#bottom-bar .row.center-block.text-center {
    margin-bottom:0;
    padding-bottom:0;
    display: block;
}
#bottom-bar #bottomNav {
    padding-left: 0;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #fff;
}
#bottomNav.center-block.text-center {
    padding-top: 20px;
    padding-bottom:0;
}
#bottomNav.center {margin-bottom:0; padding-bottom:0; display: block; }
#bottom-bar #bottomNav span.copyRight {
    display: inline-block;
}
#bottom-bar div.copyRight {
    display: none;
}