@media (min-width: 768px) and (max-width: 1199px) {

    .panel-default>.panel-heading {
        background-color: pink;   
    }
    
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}