@font-face {
	font-family: 'proximaNovaBold';
	src: url('../fonts/proximanova-bold-webfont.eot');
	src: local('☺'),  url('../fonts/proximanova-bold-webfont.woff') format('woff'),  url('../fonts/proximanova-bold-webfont.ttf') format('truetype');
}
@font-face {
	font-family: 'proximaNovaBlack';
	src: url('../fonts/ProximaNova-Black.otf');
	src: local('☺'),  url('../fonts/ProximaNova-Black.woff') format('woff'),  url('../fonts/ProximaNova-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'proximaNovaLight';
	src: url('../fonts/proximanova-light.eot');
	src: local('☺'),  url('../fonts/proximanova-light.woff') format('woff'),  url('../fonts/proximanova-light.ttf') format('truetype');
}
@font-face {
	font-family: 'proximaNovaReg';
	src: local('☺'),  url('../fonts/proximanova-regular-webfont.woff') format('woff'),
}
h1, h2, h3, h4, h5 {
	font-family: "proximaNovaBold", "Arial Bold", "Helvetica Bold", sans-serif;
	font-weight: normal;
}

body {
	background:#eff4f8;	
}

.text-warning {
    color: #f89416;
}
.btn {
	border-radius: 0 !important;
}

nav {
	background: #fff !important;	
}
nav.navbar.navbar-default {
    margin-bottom: 0px;
}
nav .navbar-brand {
	height: auto;
	line-height:auto;	
}	
nav .navbar-text {
	color:#024671 !important;
    line-height: 38px;
}
nav .dropdown-toggle {
	color:#024671 !important;
}
nav .navbar-nav > li > a {
  line-height: 38px;
}
nav .icon-bar {
	background: #007ec6 !important;	
}

.navbar-brand > img {
  display: block;
  height: 50px;
  margin-top: -5px;
}

header {
    margin-bottom: 0;
}

#navbar2 .navbar-brand {
	height: auto;
	margin-left: 1%;
}
#navbar2 .navbar-toggle {
	margin-top: 15px;
	border: none;
	margin-right: 15px;
}
#navbar2 span.icon-bar {
	background-color: #337ab7;
	display: block;
	width: 22px;
	height: 4px;
	border-radius: 1px;
}

#sidebar * {
	color: #fff;
}
#sidebar.navbar-collapse {
	height: 100%;
}

.jumbotron {
	background: #eef4f7 url(../images/backpackers.jpg) center 0 no-repeat;
	margin-bottom: 0px;
    padding: 35px 0px 30px 0px;
  }
.jumbotron #core-icon {
	background:  url(../images/core-icon-1.png) left -5px no-repeat;
	width: 135px;
	height: 116px;
	display: inline-block;
	margin: 0px 2px 0px 0px;
}
.jumbotron h3 {
    font-size: 21px;
    font-weight: normal !important;
    line-height: 24px;
	margin: 23px 0px 0px 14px;
}
.jumbotron h2 {
    font-family: "proximaNovaLight";
    font-size: 42px;
	line-height: 67px;
	margin: 0px 0px 0px 10px;
}
.jumbotron .btn {
    margin-top: 41px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 20px;
}
.jumbotron .col-md-9 {
    padding-left: 0;
    padding-right: 0;
}
.jumbotron span.col-md-10 {
    padding-left: 0;
    padding-right: 0;
}

section {
  padding-bottom: 62px;
}
section > .container {
    background-color: white;
	padding: 15px 15px 21px 15px;
}
section > .container > .row {
	margin: 15px 15px 10px 15px;
}
section > .container > .row > p {
  margin-left: 0;
  padding-left: 0;
}
section .row {
  margin-top: 0;
  margin-bottom: 0;
}
section .col-sm-12.col-md-12.col-lg-4 {
    border: 1px solid lightgray;
    background-color: #e7edf0;
	padding: 0px 0px 30px 0px;
    margin-bottom: 15px;
}
section .medal-icon {
    width: 42px;
    height: 71px;
    display: inline-flex;
    margin-top: -1px;
    margin-right: 17px;
	margin-left: -1px;
}
section .title {
    font-size: 18px;
    line-height: 59px;
    vertical-align: top;
}
section hr {
    width: 100%;
    margin: -11px -1px 0px 1px;
}
section h4 {
    line-height: 18px;
	margin: 14px 0px -15px 59px;
}
section h3 {
	font-weight: bold;
    font-size: 45px;
    line-height: 36px;
	margin: 23px 0px 0px 54px;
}
section .fa {
  padding-right: 15px;
  color: #337ab7;
}
section .fa-ul {
  clear: both;
  margin-left: 87px;
}
section .fa-check {
    color: green;
}
section .fa-times {
    color: red;
}
section li {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 8px;
    margin-right: 15px;
}
section li strong {
    font-size: 15px;
    line-height: 18px;
}
section p {
  margin-bottom: 10px;
  margin-top: -3px;
  margin-left: 54px;
}
section p.text-center {
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 21px;
    padding-bottom: 16px;
}
section p.button {
	margin-left: auto;
	margin-right: auto;
	width: 70%;	
}
section .btn {
  color: #fff;
  width: 100%;
}

#silver .medal-icon {
    background: #1582c5 url(../images/medal-1.png) 8px 10px no-repeat;
	background-size: 25px;
}
#gold .medal-icon {
    background: #f89416 url(../images/medal-1.png) 8px 10px no-repeat;
    background-size: 25px;
}
#platinum .medal-icon {
    background: #41b33a url(../images/medal-1.png) 8px 10px no-repeat;
    background-size: 25px;
}

#silver .title {
    color: #1582c5;
}
#gold .title {
    color: #f89416;
}
#platinum .title {
    color: #41b33a;
}

#silver hr {
    border-top: 6px solid #1582c5;
}
#gold hr {
    border-top: 6px solid #f89416;
}
#platinum hr {
    border-top: 6px solid #41b33a;
}

#silver h4 {
	color:#1582c5;
}
#gold h4 {
	color: #f89416;
}
#platinum h4 {
	color:#41b33a;
}

#silver h3 {
	color:#1582c5;
}
#gold h3 {
	color: #f89416;
}
#platinum h3 {
	color:#41b33a;
}

footer {
  background: none;
  color: #0d7ec4;
  text-align: center;
  white-space: nowrap;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer #social {
  text-align: center;
  display: inline-flex;	
}

@media (max-width: 1200px) {

body {
	background:#f1f1f1;	
}

nav .navbar-right {
    width: 61%;
    line-height: normal;
    margin: 0;
    margin-top: 85px;
}
nav .navbar-text {
    float: right;
    line-height: 20px;
    margin-top: -41px;
}
nav .dropdown {
    float: right;
    margin-right: 5px;
    margin-top: -92px;
}

.jumbotron {
  background: #eef4f7 url(../images/backpackers.jpg) 125px -1px no-repeat;
  margin-bottom: 0px;
  padding: 35px 0px 30px 0px;
}
.jumbotron #core-icon {
  background: url(../images/core-icon-1.png) left -5px no-repeat;
  width: 135px;
  height: 116px;
  display: inline-block;
  margin: 0px 2px 0px 0px;
}
.jumbotron span.col-md-10 {
  padding-left: 0;
  padding-right: 0;
}
.jumbotron h3 {
  font-size: 21px;
  font-weight: normal !important;
  line-height: 24px;
  margin: 23px 0px 0px 14px;
}
.jumbotron h2 {
  font-family: "proximaNovaLight";
  font-size: 42px;
  line-height: 67px;
  margin: 0px 0px 0px 10px;
}

section {
  padding-top: 35px;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
section > .container {
  background-color: white;
  padding: 19px 15px 0px 15px;
  margin-top: -37px;
}
section > .container > .row {
  margin: 15px 15px 10px 15px;
}
section > .container > .row > p {
  margin-left: 0;
  padding-left: 0;
  font-size: 17px;
  line-height: 29px;
  margin-top: 14px;
  margin-bottom: 23px;
}

section .col-sm-12.col-md-12.col-lg-4 {
  border-top: 1px solid lightgray;
}

section h4 {
  line-height: 18px;
  margin: 14px 0px -15px 58px;
}
section h3 {
  margin-left: 52px;
  width: 30% !important;
  margin-top: 35px;
}
section .fa-ul {
  clear: both;
  margin-left: 85px;
  margin-right: 70px;
}
section .fa {
  padding-right: 15px;
}
section li {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 15px;
  margin-right: 15px;
}
section p {
  margin-left: 57px ;
  margin-top: 7px;
  margin-bottom: 35px;
}
section p.text-center {
  padding-left: 0;
  margin-left: 55px;
  margin-right: 0;
  padding-top: 0px;
  padding-bottom: 16px;
  text-align: left;
  margin-top: -21px;
}
section p.button {
  margin-left: 49px;
  width: 70%;
  margin-top: -34px;
  margin-bottom: 0px;
}
section .btn {
  width: 100%;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 22px;
  border: none;
}

#silver > .row, #gold > .row, #platinum > .row {
  float: left;
  width: 50%;
  padding-bottom: 0;
  margin: 0;
  padding: 0;
}
#silver > .row + .row, #gold > .row + .row, #platinum > .row + .row {
  float: right;
  width: 50%;
  height: 100%;
  margin-bottom: 20px;
  padding-top: 24px;
}
#silver > .row + .row + .row, #gold > .row + .row + .row, #platinum > .row + .row + .row {
  float: left;
  width: 50%;
}

footer {
background: #e7edf0;
padding-top: 30px;
}
footer #social {
  display: inline-flex;	
}

}
@media (max-width: 992px) {

body {
  background: #f4f4f4;
}
.navbar-brand > img {
  display: block;
  height: 54px;
  margin-top: -3px;
}
.jumbotron {
  background: #EEF4ED url(../images/backpackers.jpg) -27px -1px no-repeat;
  margin-bottom: 0px;
  padding: 35px 0px 30px 0px;
}

section {
		background-color: rgba(255, 255, 255, 0.5);
}
section h3 {
  margin-left: 52px;
  width: 30% !important;
  margin-top: 35px;
}
section .fa-ul {
  clear: both;
  margin-left: 41px;
  margin-right: 7px;
}
section .fa {
  padding-right: 15px;
}
section p {
  margin-left: 57px ;
  margin-top: 7px;
  margin-bottom: 35px;
}
section p.text-center {
  padding-left: 0;
  margin-left: 55px;
  margin-right: 0;
  padding-top: 0px;
  padding-bottom: 16px;
  text-align: left;
  margin-top: -21px;
}
section p.button {
  margin-left: 49px;
  width: 70%;
  margin-top: -34px;
  margin-bottom: 0px;
}
section .btn {
  width: 100%;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 22px;
  border: none;
}
section .col-sm-12.col-md-12.col-lg-4 {
  border-top: 1px solid #fff;
}

#silver > .row, #gold > .row, #platinum > .row {
  float: left;
  width: 50%;
  padding-bottom: 0;
  margin: 0;
  padding: 0;
}
#silver > .row + .row, #gold > .row + .row, #platinum > .row + .row {
  float: right;
  width: 50%;
  height: 100%;
  margin-bottom: 20px;
  padding-top: 24px;
}
#silver > .row + .row + .row, #gold > .row + .row + .row, #platinum > .row + .row + .row {
  float: left;
  width: 50%;
}

footer {
background: #e7edf0;	
padding-top: 30px;
}
footer #social {
  display: inline-flex;	
}

}
@media (max-width: 768px) {

body {
  background: #f4f4f4;
}
.navbar-brand > img {
  display: block;
  height: 36px;
  margin-top: -3px;
}


.row-offcanvas {
	position: relative;
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}
.row-offcanvas-right .sidebar-offcanvas {
	right: -100%;
	margin-right: 0px;
	background-color: #337ab7;
}
.row-offcanvas-left .sidebar-offcanvas {
	left: -75%;
}
.row-offcanvas-right.active {
	right: 90%;
}
.row-offcanvas-left.active {
	left: 75%;
}
  
.sidebar-offcanvas {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
}
#sidebar {
	padding-right: 80px;
}
#sidebar .btn {
	color: #337ab7;
}
#sidebar li a:focus {
	color: #fff;
	background: #337ab7;
}
#sidebar li a:hover {
	color: #fff;
	background: #337ab7;
}
#sidebar li:focus {
	color: #fff;
	background: #337ab7;
}
#sidebar li:hover {
	color: #fff;
	background: #337ab7;
}
#sidebar li span:focus {
	color: #fff;
	background: #337ab7;
}
#sidebar li span:hover {
	color: #fff;
	background: #337ab7;
}
#sidebar #language a.dropdown-toggle {
	margin-right: -5px;
}
#sidebar .caret.pull-right {
	margin-right: -5px;
	margin-top: 9px;
}
#sidebar .form-control {
	background-color: #0a6093;
	border: 1px solid #0e6fa9;
	width: 94%;
	color: #fff !important;
	margin-left: 10px;
}
#sidebar .navbar-nav li {
	border-bottom: 1px solid #fff;
	margin-left: 15px;
	margin-right: 10px;
}
#sidebar .navbar-nav li:first-child {
	/* border: none; */
}
#sidebar .dropdown-toggle {
	padding-left: 0px;
	background: #337ab7;
}
#sidebar a {
	padding-left: 0px;
	white-space: normal;
	/* float: right; */
}
#sidebar .fa {
	margin-right: -3px;
	float: right;
}
#sidebar .list-unstyled > li {
	border: none;
	margin-left: 0px;
	line-height: 18px;
	margin-bottom: 10px;
}
#sidebar .list-unstyled > li > i {
	border: none;
	margin-left: 0px;
}
#sidebar .fa-ul {
	padding-left: 0px;
	margin-left: 2px;
	margin-bottom: 35px;
}
#sidebar .fa-ul li {
	border: none;
	line-height: 20px;
}
#sidebar h4 {
	margin-top: 40px;
	margin-bottom: 20px;
}
#sidebar i {
	line-height: 23px;
}
#sidebar span.fa.fa-globe {
	margin-right: 3px;
	float: left;
	padding-right: 4px;
	line-height: 21px;
}
#sidebar .dropdown-menu {
	width: 105%;
	padding-right: 0;
}
#sidebar .dropdown-menu li {
	border: none;
	line-height: 34px !important;
	margin-bottom: 10px;
}
#sidebar li.dropdown.open {
	background: #337ab7;
	color: #fff;
}
#sidebar li.dropdown.open a:hover {
	color: #fff;
	background: #337ab7;
}

#sidebar li.divider {
  display: none;
}

#sidebar li a:hover {
	color: orange;
	background: #337ab7;
}

#sidebar p {
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
	text-align: right;
	margin-right: -5px;
}
#sidebar form.navbar-form.navbar-left {
	border: none !important;
}
#sidebar .col-lg-8.col-md-6.col-xs-6 {
	margin-right: -30px;
}
#navbar .navbar.navbar-default {
	margin-bottom: -22px;
}
div#navbar2 {
	background-color: #fff;
}
#search2 .fa-search {
	position: absolute;
	top: 19px;
	right: 20px;
}



nav .navbar-text {
    margin-top: -43px;
    line-height: normal;
}
nav .navbar-right {
    width: auto;
    margin-top: 0;
}
nav .fa-globe {
    display: none;
}
nav .language {
    display: none;
}
nav .dropdown {
    float: left;
    margin-top: 0;
}
nav .dropdown-toggle {
    line-height: 20px;
    padding: 0;
}
nav .navbar-toggle {
  margin-top: 17px;
  border: none;
  margin-right: 3px;
}
nav .icon-bar {
  width: 22px !important;
  height: 4px !important;
}

#image {
  background-color: #eef4f7 !important;
  background-image: none !important;
  padding-top: 24px;
  padding-bottom: 45px !important;
  margin-bottom: 0;
  text-align: center;
}

.jumbotron #core-icon {
  background: url(../images/core-icon-1.png) center -5px no-repeat;
  width: 135px;
  display: block;
  margin: 0px auto 0px auto;
}
.jumbotron h3 {
  margin-left: -15px;
  margin-right: -15px;
  padding-right: 0;
  padding-left: 0;
  font-size: 19px;
  margin-top: 12px;
  margin-bottom: -13px;
}
.jumbotron h2 {
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
  font-size: 39px;
  margin-top: -3px;
  margin-bottom: 9px;
}

section {
  padding-top: 0;
  margin-top: 0;
}
section > .container > .row > p {
  margin-left: 0 !important;
  padding-left: 0;
}

section .col-sm-12.col-md-12.col-lg-4 {
  border-top: 1px solid lightgray;
  padding-bottom: 19px;
}
section .container {
  padding-left: 0;
  padding-right: 0;
}
section .row {
  margin-top: 0px;
  margin-bottom: 0px;
}
section h4 {
  line-height: 18px;
  margin: 26px 0px -15px 19px;
}
section h3 {
  margin-left: 30px;
  margin-top: 20px;
  width: 100%;
}
section .fa-ul {
  clear: both;
  margin-left: 48px;
  margin-right: 10px;
}
section .fa {
  padding-right: 7%;
}
section li {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 15px;
  margin-right: 15px;
}
section p {
  width: 100% !important;
  margin-top: 0;
  line-height: 23px;
  margin-bottom: 10px;
  margin-left: 15px !important;
}
section p.text-center {
  padding-left: 0;
  margin-left: 26px !important;
  margin-right: 0;
  margin-top: -23px;
  margin-bottom: 40px;
  padding-top: 10px;
  padding-bottom: 6px;
}
section p.button {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 85% !important;
}
section .btn {
  color: #fff;
  width: 100%;
}

#silver > .row, #gold > .row, #platinum > .row {
  float: none;
  width: 100%;
  padding-bottom: 0;
  margin: 0;
  padding: 0;
}
#silver > .row + .row, #gold > .row + .row, #platinum > .row + .row {
  float: none;
  width: 100%;
  margin-bottom: 9px;
  padding-top: 3px;
}
#silver > .row + .row + .row, #gold > .row + .row + .row, #platinum > .row + .row + .row {
  float: none;
  width: 100%;
}

footer #social {
  display: block;	
}

}
