footer {
  background: none;
  color: #0d7ec4;
  text-align: center;
  white-space: nowrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer #social {
  text-align: center;
  display: inline-flex;
}

footer {
  background: none;
  color: #0d7ec4;
  text-align: center;
  white-space: nowrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer #social {
  text-align: center;
  display: inline-flex;
}

footer #social a {
  color: #fff;
}