nav {
  background: #fff !important;
}

nav .navbar-brand {
  height: auto;
  line-height: auto;
}

nav .navbar-text {
  color: #024671 !important;
  line-height: 38px;
}

nav .dropdown-toggle {
  color: #024671 !important;
}

nav .navbar-nav > li > a {
  line-height: 38px;
}

nav .icon-bar {
  background: #007ec6 !important;
}

