// non-namespaced CSS elements

body {
  font-family: "proximaNovaRegular";
  font-size: 14px;
  color: #616161;
  background-color: $white;
  overflow-x: hidden;
}

h2 {
  margin-top: 10px;
  font-size: 1.6em;
}