@font-face {
  font-family: 'proximaNovaRegular';
  src: url("../font/proximanova_regular_macroman/ProximaNova-Reg-webfont.eot");
  src: url("../font/proximanova_regular_macroman/ProximaNova-Reg-webfont.eot?#iefix") format("embedded-opentype"), url("../font/proximanova_regular_macroman/ProximaNova-Reg-webfont.woff") format("woff"), url("../font/proximanova_regular_macroman/ProximaNova-Reg-webfont.ttf") format("truetype"), url("../font/proximanova_regular_macroman/ProximaNova-Reg-webfont.svg#ProximaNovaRgRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proximaNovaBold';
  src: url("../font/proximanova_bold_macroman/ProximaNova-Bold-webfont.eot");
  src: url("../font/proximanova_bold_macroman/ProximaNova-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/proximanova_bold_macroman/ProximaNova-Bold-webfont.woff") format("woff"), url("../font/proximanova_bold_macroman/ProximaNova-Bold-webfont.ttf") format("truetype"), url("../font/proximanova_bold_macroman/ProximaNova-Bold-webfont.svg#ProximaNovaRgBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proximaSemiBold';
  src: url("../font/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.eot");
  src: url("../font/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.woff") format("woff"), url("../font/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.ttf") format("truetype"), url("../font/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.svg#ProximaNovaLtSemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proximaNovaBlack';
  src: url("../font/proximanova_black_macroman/ProximaNova-Black-webfont.eot");
  src: url("../font/proximanova_black_macroman/ProximaNova-Black-webfont.eot?#iefix") format("embedded-opentype"), url("../font/proximanova_black_macroman/ProximaNova-Black-webfont.woff") format("woff"), url("../font/proximanova_black_macroman/ProximaNova-Black-webfont.ttf") format("truetype"), url("../font/proximanova_black_macroman/ProximaNova-Black-webfont.svg#ProximaNovaBlBlack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proximaNovaLight';
  src: url("../font/proximanova_light_macroman/ProximaNova-Light-webfont.eot");
  src: url("../font/proximanova_light_macroman/ProximaNova-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/proximanova_light_macroman/ProximaNova-Light-webfont.woff") format("woff"), url("../font/proximanova_light_macroman/ProximaNova-Light-webfont.ttf") format("truetype"), url("../font/proximanova_light_macroman/ProximaNova-Light-webfont.svg#ProximaNovaLtLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExtraBold';
  src: url("../font/proximanova_extrabold_macroman/ProximaNova-Xbold-webfont.eot");
  src: url("../font/proximanova_extrabold_macroman/ProximaNova-Xbold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/proximanova_extrabold_macroman/ProximaNova-Xbold-webfont.woff") format("woff"), url("../font/proximanova_extrabold_macroman/ProximaNova-Xbold-webfont.ttf") format("truetype"), url("../font/proximanova_extrabold_macroman/ProximaNova-Xbold-webfont.svg#ProximaNovaThExtrabold") format("svg");
  font-weight: normal;
  font-style: normal;
}
