.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.mt10px {
  margin-top: 10px;
}

.mt20px {
  margin-top: 20px;
}

.mt40px {
  margin-top: 40px;
}

.green {
  color: $cignaGlobalSecondary1;
}

.green:hover {
  color: $cignaGlobalSecondary1;
}

.bold {
  font-weight: bold;
}

.float {
  &--left {
    float: left;
  }
  &--right {
    float: right;
  }
}