thin
font-family: "proxima-nova",sans-serif;
font-style: normal;
font-weight: 100;

light
font-family: "proxima-nova",sans-serif;
font-style: normal;
font-weight: 300;

regular
font-family: "proxima-nova",sans-serif;
font-style: normal;
font-weight: 400;

semi-bold
font-family: "proxima-nova",sans-serif;
font-style: normal;
font-weight: 600;

bold
font-family: "proxima-nova",sans-serif;
font-style: normal;
font-weight: 700;

extrabold
font-family: "proxima-nova",sans-serif;
font-style: normal;
font-weight: 800;

black
font-family: "proxima-nova",sans-serif;
font-style: normal;
font-weight: 900;